/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9faef;
    font-family: 'Montserrat', sans-serif;
}

.nombre {
    color: #050b57;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.nav-link {
    color: #050b57;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    
}

.nav-link a {
    color: #050b57;

}

.nav-link a:hover {
    color: #1436e5;
}
.btn-contacto {
    background-color:#050b57;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}


.btn-cv {
    background-color: #007be5;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 60px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.saludo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

h3, p {
    color: #050b57;
}

.nombre_corto {
    color: #050b57;
    font-family: 'Dancing Script', cursive;
    font-size: 130px;
}












